@font-face {
  font-family: "AvenirNext";
  src: url("../assets/typo/AvenirNextRegular.ttf") format("truetype");
}

.body {
  font-family: 'AvenirNext','Lato','Helvetica', sans-serif;
}

.application {
  font-family: 'AvenirNext' !important;
}

p h1 h2 h3 h4 {
  font-family: 'AvenirNext';
}

p {
  font-size: 1.1em;
  font-weight: 500 !important;
}

.light-black {
  color: #464646;
}

.label {
  color: #8c8c8c;
}

h1 {
  &.label {
    font-size: 40px;
    color: #8c8c8c;
  }
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

// .p5, p10 ....
@for $i from 1 through 20 {
  .p#{$i * 5} {
    padding: $i * 5px;
  }
}

// .p5-side, .p10-side...
@for $i from 1 through 20 {
  .p#{$i * 5}#{-side} {
    padding: 0 $i * 5px
  }
}
// .p5-left, .p10-left...
@for $i from 1 through 20 {
  .p#{$i * 5}#{-left} {
    padding-left: $i * 5px
  }
}
// .p5-right, .p10-right...
@for $i from 1 through 20 {
  .p#{$i * 5}#{-right} {
    padding-right: $i * 5px
  }
}
// .p5-top, .p10-top...
@for $i from 1 through 300 {
  .p#{$i * 5}#{-top} {
    padding-top: $i * 5px
  }
}
// .p5-bot, .p10-bot...
@for $i from 1 through 40 {
  .p#{$i * 5}#{-bot} {
    padding: 0 0 $i * 5px 0
  }
}

// .h5, .h10...
@for $i from 1 through 100 {
  .h#{$i * 1} {
    height: $i * 1% !important
  }
}

// .w5, .w10...
@for $i from 1 through 100 {
  .w#{$i * 1} {
    width: $i * 1%
  }
}

// .br5, .br10...
@for $i from 1 through 100 {
  .br#{$i * 1} {
    border-radius: $i * 1%
  }
}

// .fs5, fs10 ....
@for $i from 1 through 200 {
  .fs#{$i * 1} {
    font-size: $i * 1px;
  }
}

// .flex-1
@for $i from 1 through 100 {
  .flex-#{$i * 1} {
    flex-basis: 0;
    flex-grow: $i;
  }
}

// .fw1, fw9
@for $i from 1 through 9 {
  .fw#{$i} {
    font-weight: $i * 100;
  }
}

@for $i from 1 through 200 {
  .lh#{$i} {
    line-height: $i * 1px;
  }
}

.range-slider-fill {
  background-color: #448aff !important;
}

.button-chip {
  border-radius: 20px !important;
  height: 50px !important;
  width: 180px;
}

.button-chip+.button-chip {
  margin: 6px !important;
}

.btn {
  border-radius: 5px;
}

.btn-selected {
  background-color: #235cec !important;
  color: white !important;
}

.btn:not(.btn-selected) {
  color: #8c8c8c !important;
}

.field-container {
  padding: 20px 10%;
}

.input-box {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 1px -2px rgba(100, 100, 100, 0.1), 0 2px 2px 0 rgba(100, 100, 100, 0.1), 0 1px 5px 0 rgba(100, 100, 100, 0.1);
}

.text-box {
  padding: 10px 20px;
  border-radius: 30px;
}

.field-label {
  text-transform: uppercase;
  color: #3164e3;
  padding: 5px 5px 10px 5px;
}

.header-text {
  font-size: 25px;
  color: #3164e3;
}

.light-p {
  color: #707070;
}

.desc-label {
  color: #3164e3;
  padding: 10px 5px;
}

$round-border: 25px;
$light-blue: #47AFE6;
$darker-blue: #477EE6;

.light-text-blue {
  color: $light-blue !important;
}

.light-bck-blue {
  background-color: $light-blue !important;
}

.dark-bck-blue {
  background-color: $darker-blue !important;
}

.f1-8m {
  font-size: 1.8em;
  text-transform: unset;
}

.f1-2m {
  font-size: 1.2em;
}

.f3em {
  font-size: 3em;
}

.h-img {
  width: 150px;
  margin-top: -95px !important;
}

.bold-weight {
  font-weight: 900 !important;
}

.dark-text-blue {
  color: $darker-blue !important;
}



.blue-background {
  background-color: #3164e3;
}

.blue-color {
  color: #3164e3 !important;
}

.text-muted {
  color: gray;
}

.right-border-round {
  border-top-right-radius: $round-border;
  border-bottom-right-radius: $round-border;
}

.border-round {
  border-radius: $round-border;
}

.dialog-round {
  border-top-left-radius: $round-border;
  border-bottom-left-radius: $round-border;
  border-bottom-right-radius: $round-border;
}

.display-none {
  display: none;
}

.chips-container p {
  color: #8c8c8c;
}

.chips-container {
  padding-bottom: 30px;
}

.v-card-jobs {
  flex-basis:100%;
}

.v-card-holder {
  display: block;
}

.profile-head {
  padding: 50px;
  background-color: grey;
  margin-bottom: 50px;
  color: white;
}

.content-inherit {
  justify-content: inherit;
}


.flex-basis-20 {
  flex-basis: 1;
  flex-grow: 1;
}

@media(min-width:1200px) {
  .flex-basis-20 {
    flex-basis: 20%;
    flex-grow: 0;
  }
}


@media(min-width:960px) {
  .v-card-holder {
    margin-bottom:20px;
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }

  .v-card-jobs {
    flex-basis:18%;
    margin-bottom: 30px;
    padding: 16px;
    
  }
}

.hidden {
  display: none;
}

.text-right {
  text-align: right;
}

.of-hidden {
  overflow: hidden;
}

// vuetify tweaks start

.v-input__slot {
  border-radius: 15px !important;
}

// vuetify tweaks end
