.body {
  font-family: 'Roboto', sans-serif;
}

.label {
  color: #8c8c8c;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

// .p5, p10 ....
@for $i from 1 through 20 {
  .p#{$i * 5} {
    padding: $i * 5px;
  }
}

.range-slider-fill {
  background-color: #448aff !important;
}

.button-chip {
  border-radius: 20px !important;
  height: 50px !important;
  width: 180px;
}

.button-chip+.button-chip {
  margin: 6px !important;
}

.btn {
  border-radius: 5px;
}

.btn-selected {
  background-color: #235cec !important;
  color: white !important;
}

.btn:not(.btn-selected) {
  color: #8c8c8c !important;
}

.field-container {
  padding: 20px 10%;
}

.md-field.md-theme-default:before {
  background-color: transparent;
}

.md-field.md-theme-default:after {
  background-color: transparent;
}

.input-box {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 1px -2px rgba(100, 100, 100, 0.1), 0 2px 2px 0 rgba(100, 100, 100, 0.1), 0 1px 5px 0 rgba(100, 100, 100, 0.1);
}

.text-box {
  padding: 10px 20px;
  border-radius: 30px;
}

.field-label {
  text-transform: uppercase;
  color: #3164e3;
  padding: 5px 5px 10px 5px;
}

.desc-label {
  color: #3164e3;
  padding: 10px 5px;
  font-size: 20px;
}

$round-border: 25px;

.blue-background {
  background-color: #3164e3;
}

.right-border-round {
  border-top-right-radius: $round-border;
  border-bottom-right-radius: $round-border;
}

.border-round {
  border-radius: $round-border;
}


